table{
    left:0;
    width:85%;
    
}
tr{

    display:table;
    width:100%;
    font-family: sans-serif;
    background: transparent;
    padding:12px 0;
    color:#555;
    font-size:13px;
    box-shadow:0 1px 4px 0 rgba(0,0,50,0.3);
}
td,th{
    display:table-cell;
    width:10%;
    text-align:center;
    padding:4px 0;
    border-right:2px solid #d6d4d4;
    vertical-align: middle;
}
.table-head{
    display:table;
    width:100%;
    font-family: sans-serif;
    background: transparent;
    padding:12px 0;
    color:#555;
    font-size:13px;
    box-shadow:0 1px 4px 0 rgba(0,0,50,0.3);
    
     background:#1E90FF;
     box-shadow:none;
     color:#fff;
     font-weight:600;
}
input{
    font-family: sans-serif;
    border-style: none;
    background-color: #ebecee;
	border: none;
	height: 45px;
	box-shadow: none;
	color: #3e485c;
    font-size: 14px;
    width:21.05%;
    text-align:center;
    vertical-align: middle;
    border-bottom:2px solid #d6d4d4;
    font-weight: bold;
    
}
form{
    margin-bottom: 0;
    margin-top: 0;
    margin-block-end: 0em;
}